.buttons-passengers{
    .column{
        display: flex;
        flex-direction: column;
    }
    button{
        padding: 3px 15px;
    }
    .hstack {
        justify-content: end;
        .btn-left, .btn-left:hover{
            border: 1px solid gray;
            border-radius: 10px 0 0 10px;
        }
        .btn-right, .btn-right:hover{
            border: 1px solid gray;
            border-radius: 0 10px 10px 0;
        }
        .number {
            min-width: 30px;
            text-align: center;
            border-top: 1px solid gray;
            padding: 4px 0;
            border-bottom: 1px solid gray;
        }
    }
}