.optional-services {
    border-radius: 12px;
    border:1px solid #cceccc;
    background-color: white;
    box-shadow:  9px 13px 13px -4px rgba(204, 204, 204, 0.7);
    padding: 20px;
    span{
        padding-bottom: 12px;
    }
}