.reservation{
    border-radius: 12px;
    border:1px solid #cceccc;
    background-color: white;
    box-shadow:  9px 13px 13px -4px rgba(204, 204, 204, 0.7);
    padding: 20px;
    .passenger{
        display: flex;
        justify-content: space-between;
        .column{
            display: flex;
            flex-direction: column; 
        }
    }
    .information{
         max-width: 180px;
        .cities{
            display: flex;
            align-items: end;
            gap:10px;
            p{
                font-size: 28px;
                margin: 0;
            }
        }
        .hours{
            display: flex;
            justify-content: space-between;
        }
    }
    .title{
        font-weight: 700;
        margin: 0;
        color: gray;
    }
    .text-gray{
        color: gray;
    }
}